@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charm&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  outline: 0;
  text-decoration: none;
}

.wrap::after {
  content: "";
  display: block;
  clear: both;
}

/*header_sub----------------------------*/
#header_sub {
  width: 100%;
  border-bottom: 1px solid #fff;
  background: #000;
}
#header_sub .inner {
  width: 1180px;
  height: 100px;
  margin: 0 auto;
  position: relative;
  /* 햄버거버튼 & 모바일메뉴----------------------- */
}
#header_sub .inner h1 {
  position: absolute;
  left: 0;
  bottom: 15px;
}
#header_sub .inner h1 a {
  font: bold 30px/1 "Noto Sans";
  color: #fff;
  padding-left: 15px;
  padding-bottom: 0;
}
#header_sub .inner .menuWeb #gnb {
  position: absolute;
  right: 0;
  bottom: 15px;
}
#header_sub .inner .menuWeb #gnb li {
  float: left;
}
#header_sub .inner .menuWeb #gnb li a {
  font: bold 18px/1 "Noto Sans";
  color: #fff;
  display: block;
  border-top: 2px solid transparent;
  color: #fff;
  padding: 5px 10px;
  transition: all 0.2s;
}
#header_sub .inner .menuWeb #gnb li a:hover {
  border-top: 2px solid #fff;
}
#header_sub .inner .menuWeb .util {
  position: absolute;
  right: 0;
  top: 10px;
}
#header_sub .inner .menuWeb .util li {
  float: left;
  margin-right: 10px;
}
#header_sub .inner .menuWeb .util li a {
  font: bold 12px/1 "Noto Sans";
  color: #fff;
  display: block;
}
#header_sub .inner .btnCall {
  display: none;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}
#header_sub .inner .btnCall::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  transition: top 0.5s 0s, transform 0.5s 0.5s;
}
#header_sub .inner .btnCall::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: bottom 0.5s 0s, transform 0.5s 0.5s;
}
#header_sub .inner .btnCall span {
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 0;
  transition: all 0.5s;
  text-indent: -9999px;
}
#header_sub .inner .btnCall.on::before {
  top: 50%;
  margin-top: -1px;
  transform: rotate(45deg);
}
#header_sub .inner .btnCall.on::after {
  bottom: 50%;
  margin-bottom: -1px;
  transform: rotate(-45deg);
}
#header_sub .inner .btnCall.on span {
  transform: translateX(100%);
  opacity: 0;
}
#header_sub .inner .menuMo {
  width: 250px;
  height: 100vh;
  background: #000;
  position: fixed;
  top: 0;
  left: -250px;
  padding: 35px 30px;
  z-index: 10;
  transition: 0.5s;
}
#header_sub .inner .menuMo.on {
  left: 0;
}
#header_sub .inner .menuMo h1 {
  padding-bottom: 30px;
  border-bottom: 1px solid #666;
}
#header_sub .inner .menuMo h1 a {
  display: block;
  font: bold 25px/1 "Noto Sans";
  color: #fff;
  text-align: center;
}
#header_sub .inner .menuMo h1 span {
  font: 15px/1 "Noto Sans";
  color: #aaa;
}
#header_sub .inner .menuMo #gnbMo li a {
  display: block;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #444;
  font: bold 14px/1 "Noto Sans";
  color: #888;
  text-align: center;
}

.content {
  width: 100%;
  padding: 0 0 30px;
}
.content .sub_visual {
  width: 100%;
  height: 250px;
  background: #bbb;
  margin-bottom: 30px;
}
.content .inner {
  width: 1180px;
  margin: 0 auto;
  min-height: 500px;
}
.content .inner h1 {
  font: normal 50px/1 "Noto Sans";
  color: #000;
  margin-bottom: 60px;
}
.content .inner h1 span {
  font: normal 20px/1 "Noto Sans";
  color: #aaa;
}
.content .inner h1 span::before {
  content: "/";
  margin-right: 20px;
  margin-left: 10px;
}

/* footer ---------------------------------------------*/
#footer_sub {
  width: 100%;
  background: #000;
  height: 320px;
  padding: 50px 0;
}
#footer_sub .inner {
  width: 1180px;
  margin: 0 auto;
  text-align: center;
}
#footer_sub .inner h1 {
  font: 28px/1 "Noto Sans";
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  padding-bottom: 30px;
}
#footer_sub .inner .icon {
  display: block;
  padding-bottom: 50px;
}
#footer_sub .inner .icon i {
  font-size: 20px;
  text-align: center;
  padding: 10px;
  color: #fff;
}
#footer_sub .inner address {
  display: block;
  font: 14px/1.7 "Noto Sans";
  color: #fff;
  text-align: center;
  margin-top: 10px;
}
#footer_sub .inner p {
  font: 14px/1 "Noto Sans";
  color: rgba(255, 255, 255, 0.411);
  text-align: center;
  margin-top: 20px;
}

/* tablet -------------------------------------------- */
@media screen and (max-width: 1179px) {
  /* header ------------------------------------- */
  #header_sub .inner {
    width: 100%;
    height: 100px;
    /* 햄버거 버튼 & 모바일 메뉴 */
  }
  #header_sub .inner h1 {
    left: 20px;
  }
  #header_sub .inner .menuWeb {
    display: none;
  }
  #header_sub .inner .btnCall {
    display: block;
  }
}
/* mobile ------------------------------------------- */
@media screen and (max-width: 539px) {
  /* visual -------------------------------- */
  #visual {
    height: calc(100vh - 101px);
    background: url(../img/visual1.jpg) no-repeat center/cover;
  }
  #visual .inner {
    padding: 0 30px;
  }
}
/*contentCommunity------------------------------------------*/
.contentCommunity {
  width: 100%;
  padding: 0 0 50px;
}
.contentCommunity .sub_visual {
  width: 100%;
  height: 20vw;
  background: url(../img/jj-ying-7JX0-bfiuxQ-unsplash.jpg) no-repeat center/cover fixed;
  margin-bottom: 80px;
  position: relative;
  /*#gnb{    
  }*/
}
.contentCommunity .inner {
  width: 1180px;
  margin: 0 auto;
  height: 200px;
}
.contentCommunity .inner h1 {
  font: normal 80px/1 "Secular One";
  color: #000;
  text-align: center;
  margin-bottom: 30px;
}
.contentCommunity .inner p {
  font: normal 20px/1 "Noto Sans";
  color: #000;
  text-align: center;
}
.contentCommunity .community {
  padding: 180px;
}
.contentCommunity .community .search {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-right: 180px;
}
.contentCommunity .community .search input[type=text] {
  width: 150px;
  height: 30px;
  padding-left: 10px;
}
.contentCommunity .community .search p {
  font: 15px/30px "arial";
  width: 50px;
  height: 30px;
  background: #000;
  text-align: center;
  margin-left: 10px;
}
.contentCommunity .community .search p a {
  color: #fff;
}
.contentCommunity .community .inner_2 table {
  width: 1180px;
  border-bottom: 2px solid #111;
  margin: 30px auto;
}
.contentCommunity .community .inner_2 table tr:nth-last-of-type(even) {
  background: #fff;
}
.contentCommunity .community .inner_2 table tr:hover {
  background: #999;
}
.contentCommunity .community .inner_2 table tr th {
  padding: 15px;
  background: #fff;
  color: #000;
  border-top: 2px solid #111;
  border-bottom: 2px solid #111;
}
.contentCommunity .community .inner_2 table tr th:nth-last-of-type(1) {
  width: 10%;
}
.contentCommunity .community .inner_2 table tr th:nth-last-of-type(2) {
  width: 15%;
}
.contentCommunity .community .inner_2 table tr th:nth-last-of-type(4) {
  width: 15%;
}
.contentCommunity .community .inner_2 table tr td {
  padding: 13px;
  border-bottom: 1px solid #fff;
  text-align: center;
}
.contentCommunity .community .inner_2 table tr td:nth-last-of-type(2) {
  text-align: center;
}
.contentCommunity .community .inner_2 table tr td:nth-last-of-type(3) {
  font-family: "맑은고딕";
  font-weight: bold;
}
.contentCommunity .community .inner_2 table tr td a {
  color: #333;
  font-family: "arial";
  line-height: 1.4;
}
.contentCommunity .pagination {
  width: 1180px;
  padding: 20px 330px;
  margin: 0 auto;
}
.contentCommunity .pagination::after {
  content: "";
  display: block;
  clear: both;
}
.contentCommunity .pagination .prev {
  float: left;
  display: block;
  width: 30px;
  height: 30px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  background: #000;
}
.contentCommunity .pagination .next {
  float: right;
  display: block;
  width: 30px;
  height: 30px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  background: #000;
}
.contentCommunity .pagination .numbers {
  display: flex;
  justify-content: space-around;
}
.contentCommunity .pagination a {
  display: block;
  text-align: center;
  width: 30px;
  height: 30px;
  font: 11px/30px "arial" #222;
  border: 1px solid #888;
}
.contentCommunity .pagination a:hover {
  background: #666;
  color: #fff;
}

.join .sub_visual {
  background: #eeffff;
}
.join .inner h2 {
  font: bold 18px/1 "arial";
  color: #555;
  margin-bottom: 20px;
}
.join .inner #terms {
  width: 100%;
  height: 100px;
  resize: none;
  font: 12px/1.3 "arial";
  color: #888;
  background: #eee;
  margin-bottom: 10px;
  padding: 20px;
}
.join .inner .agreement {
  margin-bottom: 70px;
}
.join .inner .agreement label[for=agree] {
  font-size: 12px;
}
.join .inner table {
  width: 100%;
  border-top: 2px solid #999;
  border-bottom: 2px solid #999;
}
.join .inner table th {
  width: 20%;
  text-align: left;
  font: bold 14px/1 "arial";
  color: #666;
  padding: 20px 30px;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  background: #eee;
}
.join .inner table th:last-child {
  border-right: none;
  background: #fff;
  text-align: center;
}
.join .inner table th input[type=submit], .join .inner table th input[type=reset] {
  width: 150px;
  height: 40px;
  border: none;
  background: #444;
  font: bold 14px/1 "arial";
  color: #fff;
  margin: 0 10px;
}
.join .inner table td {
  border-bottom: 1px solid #bbb;
  padding: 20px 30px;
}
.join .inner table td input[type=text], .join .inner table td input[type=password], .join .inner table td select {
  width: 30%;
  height: 30px;
  border: 1px solid #bbb;
  background: #eeffff;
  padding-left: 20px;
}
.join .inner table td input[type=checkbox], .join .inner table td input[type=radio] {
  margin-right: 5px;
}
.join .inner table td label {
  margin-right: 30px;
}
.join .inner table td textarea#comments {
  width: 80%;
  height: 100px;
  resize: none;
  border: 1px solid #bbb;
  background: #eeffff;
  padding: 20px;
}
.join .inner table td .hobbyTxt, .join .inner table td .genderTxt {
  font: 12px/1 "arial";
  color: hotpink;
  margin-top: 10px;
  display: none;
}

.contentAbout {
  width: 100%;
  padding: 0 0 50px;
}
.contentAbout .sub_visual {
  width: 100%;
  height: 20vw;
  background: url(../img/image_4.jpg) no-repeat center/cover fixed;
  margin-bottom: 80px;
}
.contentAbout .inner {
  width: 1180px;
  margin: 0 auto;
  height: 200px;
}
.contentAbout .inner h1 {
  font: normal 80px/1 "Secular One";
  color: #000;
  text-align: center;
  margin-bottom: 30px;
}
.contentAbout .inner p {
  font: normal 20px/1 "Noto Sans";
  color: #000;
  text-align: center;
}

#member {
  width: 100%;
  padding: 100px 0;
}
#member .inner {
  width: 1180px;
  margin: 30px auto;
  position: relative;
}
#member .inner .wrap {
  width: 100%;
  position: relative;
}
#member .inner .wrap article:nth-of-type(1) {
  width: 500px;
  height: 524px;
  float: left;
  padding-left: 100px;
}
#member .inner .wrap article:nth-of-type(1) h1 {
  font: bold 80px/1 "Libre Baskerville";
  color: #000;
  margin-bottom: 10px;
  text-align: left;
}
#member .inner .wrap article:nth-of-type(1) h2 {
  font: 30px/1 "Libre Baskerville";
  color: #000;
  margin-bottom: 30px;
  text-align: end;
}
#member .inner .wrap article:nth-of-type(1) p {
  font: 15px/1.3 "arial";
  color: #333;
  margin: 20px;
}
#member .inner .wrap article:nth-of-type(2) {
  width: 500px;
  float: left;
  padding-left: 100px;
}
#member .inner .wrap article:nth-of-type(2) img {
  width: 100%;
  height: 520px;
  object-fit: cover;
}
#member .inner .wrap article:nth-of-type(3) {
  width: 400px;
  float: left;
  padding-left: 100px;
}
#member .inner .wrap article:nth-of-type(3) .pic {
  padding-top: 100px;
}
#member .inner .wrap article:nth-of-type(3) .pic img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
#member .inner .wrap article:nth-of-type(4) {
  width: 500px;
  height: 524px;
  float: left;
  padding-left: 100px;
  padding-top: 150px;
  margin-bottom: 100px;
}
#member .inner .wrap article:nth-of-type(4) h1 {
  font: bold 50px/1 "Libre Baskerville";
  color: #000;
  margin-bottom: 10px;
  text-align: left;
  position: relative;
  left: -150px;
}
#member .inner .wrap article:nth-of-type(4) h2 {
  font: 30px/1 "Libre Baskerville";
  color: #000;
  margin-bottom: 30px;
  text-align: end;
}
#member .inner .wrap article:nth-of-type(4) p {
  font: 15px/1.3 "arial";
  color: #333;
  margin: 20px;
}
#member .inner .wrap article:nth-of-type(5) {
  width: 400px;
  float: left;
  padding-left: 100px;
}
#member .inner .wrap article:nth-of-type(5) .pic {
  padding-top: 100px;
}
#member .inner .wrap article:nth-of-type(5) .pic img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
#member .inner .wrap article:nth-of-type(6) {
  width: 500px;
  height: 524px;
  float: left;
  padding-left: 100px;
  padding-top: 150px;
  margin-bottom: 100px;
}
#member .inner .wrap article:nth-of-type(6) h1 {
  font: bold 50px/1 "Libre Baskerville";
  color: #000;
  margin-bottom: 10px;
  text-align: left;
  position: relative;
  left: -150px;
}
#member .inner .wrap article:nth-of-type(6) h2 {
  font: 30px/1 "Libre Baskerville";
  color: #000;
  margin-bottom: 30px;
  text-align: end;
}
#member .inner .wrap article:nth-of-type(6) p {
  font: 15px/1.3 "arial";
  color: #333;
  margin: 20px;
}
#member .inner .wrap article:nth-of-type(7) {
  width: 400px;
  float: left;
  padding-left: 100px;
}
#member .inner .wrap article:nth-of-type(7) .pic {
  padding-top: 100px;
}
#member .inner .wrap article:nth-of-type(7) .pic img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
#member .inner .wrap article:nth-of-type(8) {
  width: 500px;
  height: 524px;
  float: left;
  padding-left: 100px;
  padding-top: 150px;
  margin-bottom: 100px;
}
#member .inner .wrap article:nth-of-type(8) h1 {
  font: bold 50px/1 "Libre Baskerville";
  color: #000;
  margin-bottom: 10px;
  text-align: left;
  position: relative;
  left: -150px;
}
#member .inner .wrap article:nth-of-type(8) h2 {
  font: 30px/1 "Libre Baskerville";
  color: #000;
  margin-bottom: 30px;
  text-align: end;
}
#member .inner .wrap article:nth-of-type(8) p {
  font: 15px/1.3 "arial";
  color: #333;
  margin: 20px;
}
#member .inner .wrap article:nth-of-type(9) {
  width: 400px;
  float: left;
  padding-left: 100px;
}
#member .inner .wrap article:nth-of-type(9) .pic {
  padding-top: 100px;
}
#member .inner .wrap article:nth-of-type(9) .pic img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
#member .inner .wrap article:nth-of-type(10) {
  width: 500px;
  height: 524px;
  float: left;
  padding-left: 100px;
  padding-top: 150px;
  margin-bottom: 100px;
}
#member .inner .wrap article:nth-of-type(10) h1 {
  font: bold 50px/1 "Libre Baskerville";
  color: #000;
  margin-bottom: 10px;
  text-align: left;
  position: relative;
  left: -150px;
}
#member .inner .wrap article:nth-of-type(10) h2 {
  font: 30px/1 "Libre Baskerville";
  color: #000;
  margin-bottom: 30px;
  text-align: end;
}
#member .inner .wrap article:nth-of-type(10) p {
  font: 15px/1.3 "arial";
  color: #333;
  margin: 20px;
}
#member .inner .wrap article:nth-of-type(11) {
  width: 400px;
  float: left;
  padding-left: 100px;
}
#member .inner .wrap article:nth-of-type(11) .pic {
  padding-top: 100px;
}
#member .inner .wrap article:nth-of-type(11) .pic img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
#member .inner .wrap article:nth-of-type(12) {
  width: 500px;
  height: 524px;
  float: left;
  padding-left: 100px;
  padding-top: 150px;
  margin-bottom: 100px;
}
#member .inner .wrap article:nth-of-type(12) h1 {
  font: bold 50px/1 "Libre Baskerville";
  color: #000;
  margin-bottom: 10px;
  text-align: left;
  position: relative;
  left: -150px;
}
#member .inner .wrap article:nth-of-type(12) h2 {
  font: 30px/1 "Libre Baskerville";
  color: #000;
  margin-bottom: 40px;
  text-align: end;
}
#member .inner .wrap article:nth-of-type(12) p {
  font: 15px/1.3 "arial";
  color: #333;
  margin: 20px;
}

/* tablet ----------------------------------------------------------*/
/*mobile ----------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background: #fff;
}

main {
  width: 100%;
  padding: 0px;
  overflow: hidden;
  position: relative;
  opacity: 0;
  transform: translateY(100px);
  transition: 1s;
}
main.on {
  opacity: 1;
  transform: translateY(0px);
}
main::after {
  content: "";
  display: block;
  clear: both;
}
main .item {
  width: 25%;
  float: left;
  padding: 10px;
}
main .item > div {
  width: 100%;
  background: #fff;
  padding: 15px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}
main .item > div .pic {
  display: block;
  width: 100%;
}
main .item > div .pic img {
  width: 100%;
  object-fit: cover;
}
main .item > div p {
  font: 18px/1.2 "arial";
  color: #444;
  margin-top: 10px;
  margin-bottom: 15px;
}
main .item > div .profile {
  display: flex;
  align-items: center;
}
main .item > div .profile img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
}
main .item > div .profile span {
  font: 14px/1 "arial";
  color: #666;
}

aside {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  padding: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
aside .con {
  width: 100%;
  height: 100%;
}
aside .con > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
aside .close {
  position: absolute;
  top: 40px;
  right: 40px;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  width: 100%;
  height: 100vh;
  padding: 10vh 10vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}
main article {
  width: 48%;
  height: 30%;
  border: 1px solid #999;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 50px;
  position: relative;
}
main article .pic {
  width: 40%;
  height: 100%;
}
main article .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main article .con {
  width: 54%;
  height: 100%;
  position: relative;
}
main article .con h2 {
  font: bold 16px/1.2 "맑은 고딕", "arial";
  color: #555;
  margin-bottom: 15px;
}
main article .con p {
  font: 12px/1.2 "맑은 고딕", "arial";
  color: #888;
}
main article .con span {
  font: bold 12px/1 "arial";
  color: orange;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

aside {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  padding: 5vw;
}
aside .btnClose {
  position: absolute;
  top: 40px;
  right: 40px;
  color: orange;
  cursor: pointer;
}

#header {
  width: 100%;
  border-bottom: 1px solid #fff;
  background: #fff;
}
#header .inner {
  width: 1180px;
  height: 100px;
  margin: 0 auto;
  position: relative;
  /* 햄버거버튼 & 모바일메뉴----------------------- */
}
#header .inner h1 {
  position: absolute;
  left: 0;
  bottom: 15px;
  letter-spacing: 2px;
}
#header .inner h1 a {
  font: bold 30px/1 "Noto Sans";
  color: #000;
  padding-left: 15px;
  padding-bottom: 0;
}
#header .inner .menuWeb #gnb {
  position: absolute;
  right: 0;
  bottom: 15px;
}
#header .inner .menuWeb #gnb li {
  float: left;
}
#header .inner .menuWeb #gnb li a {
  font: bold 18px/1 "Noto Sans";
  color: #000;
  display: block;
  padding: 5px 10px;
  transition: all 0.2s;
}
#header .inner .menuWeb #gnb li a:hover {
  color: #aaa;
}
#header .inner .menuWeb .util {
  position: absolute;
  right: 0;
  top: 10px;
}
#header .inner .menuWeb .util li {
  float: left;
  margin-right: 10px;
}
#header .inner .menuWeb .util li a {
  font: bold 12px/1 "Noto Sans";
  color: #222;
  display: block;
}
#header .inner .menuWeb .util li a:hover {
  color: #aaa;
}
#header .inner .btnCall {
  display: none;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}
#header .inner .btnCall::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  transition: top 0.5s 0s, transform 0.5s 0.5s;
}
#header .inner .btnCall::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: bottom 0.5s 0s, transform 0.5s 0.5s;
}
#header .inner .btnCall span {
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 0;
  transition: all 0.5s;
  text-indent: -9999px;
}
#header .inner .btnCall.on::before {
  top: 50%;
  margin-top: -1px;
  transform: rotate(45deg);
}
#header .inner .btnCall.on::after {
  bottom: 50%;
  margin-bottom: -1px;
  transform: rotate(-45deg);
}
#header .inner .btnCall.on span {
  transform: translateX(100%);
  opacity: 0;
}
#header .inner .menuMo {
  width: 250px;
  height: 100vh;
  background: #000;
  position: fixed;
  top: 0;
  left: -250px;
  padding: 35px 30px;
  z-index: 10;
  transition: 0.5s;
}
#header .inner .menuMo.on {
  left: 0;
}
#header .inner .menuMo h1 {
  padding-bottom: 30px;
  border-bottom: 1px solid #666;
}
#header .inner .menuMo h1 a {
  display: block;
  font: bold 25px/1 "Noto Sans";
  color: #fff;
  text-align: center;
}
#header .inner .menuMo h1 span {
  font: 15px/1 "Noto Sans";
  color: #aaa;
}
#header .inner .menuMo #gnbMo li a {
  display: block;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #444;
  font: bold 14px/1 "Noto Sans";
  color: #888;
  text-align: center;
}

/* visual --------------------------------------------*/
#visual {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}
#visual .wrap {
  width: 100%;
  height: calc(100vh - 101px);
  margin: 0 auto;
  position: relative;
  background: #fff;
}
#visual .wrap img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
#visual .wrap .inner {
  width: 1180px;
  height: 330px;
  margin: 0 auto;
  padding: 40px;
  position: absolute;
  background: rgba(10, 1, 0, 0.32);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: sl 2s ease-in-out;
  transition: 0.5s;
  border: 2px solid #fff;
}
#visual .wrap .inner h1 {
  font: bold 60px/1.3 "Noto Sans";
  color: #fff;
  margin-bottom: 10px;
  letter-spacing: 3px;
}
#visual .wrap .inner p {
  font: 20px/1.4 "Noto Sans";
  color: #fff;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
#visual .wrap .inner a {
  width: 160px;
  height: 40px;
  display: block;
  border: 1px solid #000;
  letter-spacing: 2px;
  font: 13px/40px "Montserrat";
  color: #fff;
  transition: all 0.2s;
  margin: 0 0;
  text-align: center;
  background: black;
}

/* txtbox -------------------------------------------*/
#txtbox {
  width: 100%;
  padding: 100px 30px 0;
  /* iconbox -------------------------------------------*/
}
#txtbox .iconbox {
  width: 80px;
  position: fixed;
  top: 20vh;
  right: 1vw;
  z-index: 9;
}
#txtbox .iconbox .txt1 {
  width: 100%;
}
#txtbox .iconbox .txt1 h1 {
  width: 55px;
  height: 55px;
  letter-spacing: 3px;
  margin: 20px 0px;
  text-align: center;
  background: #000;
}
#txtbox .iconbox .txt1 h1 a {
  font: bold 8px/55px "Noto Sans";
  color: #fff;
}
#txtbox .iconbox .txt1 h1:hover a {
  color: #000;
}
#txtbox .iconbox .txt1 h1:hover {
  background: #fff;
}
#txtbox .inner {
  width: 1180px;
  margin: 0 auto;
}
#txtbox .inner .wrap {
  width: 100%;
}
#txtbox .inner .wrap .txt1 {
  width: 100%;
  margin-right: 40px;
}
#txtbox .inner .wrap .txt1 h1 {
  font: bold 40px/1.5 "Noto Sans";
  color: #000;
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: 6px;
}
#txtbox .inner .wrap .txt1 p {
  width: 1000px;
  font: 30px/1.5 "Noto Sans";
  color: #000;
  margin: 0 auto;
}
#txtbox .inner .wrap .txt1 i {
  display: block;
  color: #555;
  font-size: 50px;
  padding: 20px;
}
#txtbox .inner .wrap .txt1 i:nth-last-child(1) {
  text-align: end;
}

/* photoBox -------------------------------------------*/
#photoBox {
  width: 100%;
  padding: 50px 30px 100px;
}
#photoBox .inner {
  width: 1180px;
  margin: 0 auto;
}
#photoBox .inner .wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#photoBox .inner .wrap article {
  width: 25%;
  padding-right: 10px;
}
#photoBox .inner .wrap article:nth-last-child(1) {
  padding-right: 0;
}
#photoBox .inner .wrap article .pic {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
}
#photoBox .inner .wrap article .pic a {
  width: 300px;
  height: 300px;
  display: block;
  font: bold 15px/300px "Montserrat";
  letter-spacing: 3px;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  background: rgba(10, 1, 0, 0.32);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #fff;
  visibility: hidden;
}
#photoBox .inner .wrap article .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s;
  transform: scale(1);
}
#photoBox .inner .wrap article .pic:hover img {
  transform: scale(1.1);
}
#photoBox .inner .wrap article .pic:hover a {
  visibility: visible;
}

/* banner --------------------------------------------*/
#banner {
  width: 100%;
  background: #000;
  padding: 100px 0;
}
#banner .inner {
  width: 1180px;
  margin: 0px auto;
}
#banner .inner p {
  font: bold 25px/2 "Noto Sans";
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
}

/* content -------------------------------------------*/
#content {
  width: 100%;
  padding: 100px 30px;
}
#content .inner {
  width: 1180px;
  margin: 0 auto;
}
#content .inner .wrap {
  width: 100%;
  margin: 0 auto;
}
#content .inner .wrap article:nth-of-type(1) {
  display: flex;
  flex-direction: row;
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid rgba(54, 54, 54, 0.068);
}
#content .inner .wrap article:nth-of-type(1) .pic {
  width: 900px;
  height: 600px;
  overflow: hidden;
}
#content .inner .wrap article:nth-of-type(1) .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s;
  transform: scale(1);
}
#content .inner .wrap article:nth-of-type(1) .pic:hover img {
  transform: scale(1.1);
}
#content .inner .wrap article:nth-of-type(1) .text {
  width: 400px;
  height: 400px;
  background: #eee;
  padding: 30px;
  margin-top: 200px;
}
#content .inner .wrap article:nth-of-type(1) .text h1 {
  font: bold 25px/1 "Noto Sans";
  color: #000;
  text-align: start;
  margin-bottom: 20px;
}
#content .inner .wrap article:nth-of-type(1) .text p {
  font: 16px/1.3 "arial";
  color: #555;
  text-align: start;
  margin-bottom: 30px;
}
#content .inner .wrap article:nth-of-type(1) .text a {
  width: 150px;
  height: 40px;
  display: block;
  letter-spacing: 2px;
  font: 12px/40px "Montserrat";
  color: #fff;
  text-align: center;
  background: #000;
}
#content .inner .wrap article:nth-of-type(1) .text a:hover {
  background: #424242;
}
#content .inner .wrap article:nth-of-type(2) {
  display: flex;
  flex-direction: row-reverse;
}
#content .inner .wrap article:nth-of-type(2) .pic {
  width: 900px;
  height: 600px;
  overflow: hidden;
}
#content .inner .wrap article:nth-of-type(2) .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s;
  transform: scale(1);
}
#content .inner .wrap article:nth-of-type(2) .pic:hover img {
  transform: scale(1.1);
}
#content .inner .wrap article:nth-of-type(2) .text {
  width: 400px;
  height: 400px;
  background: #eee;
  padding: 30px;
  margin-top: 200px;
}
#content .inner .wrap article:nth-of-type(2) .text h1 {
  font: bold 25px/1 "Noto Sans";
  color: #000;
  text-align: start;
  margin-bottom: 20px;
}
#content .inner .wrap article:nth-of-type(2) .text p {
  font: 16px/1.3 "arial";
  color: #555;
  text-align: start;
  margin-bottom: 30px;
}
#content .inner .wrap article:nth-of-type(2) .text a {
  width: 150px;
  height: 40px;
  display: block;
  letter-spacing: 2px;
  font: 12px/40px "Montserrat";
  color: #fff;
  text-align: center;
  background: #000;
}
#content .inner .wrap article:nth-of-type(2) .text a:hover {
  background: #424242;
}

/* prevBoard -------------------------------------------*/
#prevBoard {
  width: 100%;
  padding: 0px 30px;
}
#prevBoard .inner {
  width: 1180px;
  margin: 0 auto;
}
#prevBoard .inner .wrap {
  width: 100%;
}
#prevBoard .inner .wrap .txt1 {
  width: 100%;
  margin-right: 40px;
}
#prevBoard .inner .wrap .txt1 h1 {
  font: bold 40px/1.5 "Noto Sans";
  color: #000;
  letter-spacing: 6px;
  margin-bottom: 20px;
  text-align: center;
}
#prevBoard .inner .wrap .txt1 p {
  font: 20px/1.5 "Noto Sans";
  color: #000;
  letter-spacing: 1px;
  margin-bottom: 20px;
  text-align: center;
}
#prevBoard .inner .wrap .txt1 p::after {
  content: "|";
  display: block;
  font-size: 40px;
}

/* board--------------------------------------------- */
#board {
  width: 100%;
  padding: 30px 100px 0;
}
#board .inner {
  width: 1180px;
  margin: 0px auto;
  position: relative;
  background: #fff;
}
#board .inner .wrap {
  width: 100%;
  margin-bottom: 10px;
  /* 첫번째 article------------------------- */
  /* 두번째 article------------------- */
  /* 세번째 article------------------------------------ */
  /* 네번째 article--------------------------------- */
  /* 다섯번째 article------------------------------------ */
  /* 여섯번째 article------------------- */
  /* 일곱번째 article-------------------- */
  /* 여덟번째 article--------------------------------- */
}
#board .inner .wrap::after {
  content: "";
  display: block;
  clear: both;
}
#board .inner .wrap article:nth-of-type(1) {
  width: 590px;
  height: 580px;
  float: left;
  position: relative;
}
#board .inner .wrap article:nth-of-type(1) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
  transform: scale(1);
}
#board .inner .wrap article:nth-of-type(1):hover img {
  filter: brightness(80%);
}
#board .inner .wrap article:nth-of-type(2) {
  width: 295px;
  height: 290px;
  float: left;
  padding: 30px;
}
#board .inner .wrap article:nth-of-type(2) h1 {
  font: bold 20px/1 "Noto Sans";
  color: #252422;
  margin-bottom: 20px;
}
#board .inner .wrap article:nth-of-type(2) p {
  font: 13px/1.3 "arial";
  color: #555;
  margin-bottom: 20px;
}
#board .inner .wrap article:nth-of-type(2) a {
  display: block;
  width: 100px;
  height: 30px;
  letter-spacing: 2px;
  font: 10px/30px "Montserrat";
  color: #fff;
  background: #000;
  border: 1px solid #000;
  text-align: center;
}
#board .inner .wrap article:nth-of-type(2):hover {
  background: #eee;
}
#board .inner .wrap article:nth-of-type(3) {
  width: 295px;
  height: 290px;
  float: left;
  text-align: center;
  margin-right: 0;
}
#board .inner .wrap article:nth-of-type(3) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}
#board .inner .wrap article:nth-of-type(3):hover img {
  filter: brightness(80%);
}
#board .inner .wrap article:nth-of-type(4) {
  width: 295px;
  height: 290px;
  float: left;
}
#board .inner .wrap article:nth-of-type(4) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}
#board .inner .wrap article:nth-of-type(4):hover img {
  filter: brightness(80%);
}
#board .inner .wrap article:nth-of-type(5) {
  width: 295px;
  height: 290px;
  float: left;
  padding: 30px;
}
#board .inner .wrap article:nth-of-type(5) h1 {
  font: bold 20px/1 "Noto Sans";
  color: #252422;
  margin-bottom: 20px;
}
#board .inner .wrap article:nth-of-type(5) p {
  font: 13px/1.3 "arial";
  color: #555;
  margin-bottom: 20px;
}
#board .inner .wrap article:nth-of-type(5) a {
  display: block;
  width: 100px;
  height: 30px;
  letter-spacing: 2px;
  font: 10px/30px "Montserrat";
  color: #fff;
  background: #000;
  border: 1px solid #000;
  text-align: center;
}
#board .inner .wrap article:nth-of-type(5):hover {
  background: #eee;
}
#board .inner .wrap article:nth-of-type(6) {
  width: 295px;
  height: 290px;
  float: left;
}
#board .inner .wrap article:nth-of-type(6) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}
#board .inner .wrap article:nth-of-type(6):hover img {
  filter: brightness(80%);
}
#board .inner .wrap article:nth-of-type(7) {
  width: 295px;
  height: 290px;
  float: left;
  padding: 30px;
}
#board .inner .wrap article:nth-of-type(7) h1 {
  font: bold 20px/1 "Noto Sans";
  color: #252422;
  margin-bottom: 20px;
}
#board .inner .wrap article:nth-of-type(7) p {
  font: 13px/1.3 "arial";
  color: #555;
  margin-bottom: 20px;
}
#board .inner .wrap article:nth-of-type(7) a {
  display: block;
  width: 100px;
  height: 30px;
  letter-spacing: 2px;
  font: 10px/30px "Montserrat";
  color: #fff;
  background: #000;
  border: 1px solid #000;
  text-align: center;
}
#board .inner .wrap article:nth-of-type(7):hover {
  background: #eee;
}
#board .inner .wrap article:nth-of-type(8) {
  width: 590px;
  height: 290px;
  float: left;
  margin-right: 0;
}
#board .inner .wrap article:nth-of-type(8) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}
#board .inner .wrap article:nth-of-type(8):hover img {
  filter: brightness(80%);
}

/* nextBoard -------------------------------------------*/
#nextBoard {
  width: 100%;
  padding: 100px 30px;
}
#nextBoard .inner {
  width: 1180px;
  margin: 0 auto;
}
#nextBoard .inner .wrap {
  width: 1180px;
}
#nextBoard .inner .wrap article {
  position: relative;
  float: left;
  width: 380px;
}
#nextBoard .inner .wrap article i {
  display: block;
  font-size: 30px;
  line-height: 80px;
  text-align: center;
  background: #fff;
  color: #000;
  border-radius: 45px;
  border: 1px solid rgba(173, 173, 173, 0.5);
  width: 90px;
  height: 90px;
}
#nextBoard .inner .wrap article i:hover {
  background: #000;
  color: #fff;
}
#nextBoard .inner .wrap article h1 {
  font: bold 25px/1.3 "Noto Sans";
  color: #000;
  position: absolute;
  top: 0px;
  left: 100px;
  padding-left: 10px;
}
#nextBoard .inner .wrap article p {
  font: 15px/1.3 "Noto Sans";
  color: #222;
  position: absolute;
  bottom: 0px;
  left: 100px;
  padding-left: 10px;
}
#nextBoard .inner .wrap:nth-of-type(3) {
  margin-right: 0;
}

/* footer ---------------------------------------------*/
#footer {
  width: 100%;
  padding-top: 20px;
  background: #000;
}
#footer .inner {
  width: 1180px;
  margin: 0 auto;
}
#footer .inner .wrap h1 {
  font: bold 23px/1 "Noto Sans";
  border-bottom: 1px solid rgba(255, 255, 255, 0.322);
  padding-bottom: 10px;
  margin-bottom: 20px;
  color: #fff;
  letter-spacing: 2px;
}
#footer .inner .wrap article {
  float: left;
}
#footer .inner .wrap article:nth-of-type(1) {
  width: 33%;
}
#footer .inner .wrap article:nth-of-type(1) h2 {
  font: 18px/1 "Noto Sans";
  color: #fff;
  font-weight: bold;
  letter-spacing: 2px;
  padding-bottom: 20px;
}
#footer .inner .wrap article:nth-of-type(1) address {
  font: 16px/1.5 "Noto Sans";
  color: #fff;
}
#footer .inner .wrap article:nth-of-type(2) {
  width: 33%;
}
#footer .inner .wrap article:nth-of-type(2) ul {
  width: 100%;
  padding-left: 200px;
  margin-bottom: 20px;
}
#footer .inner .wrap article:nth-of-type(2) ul li {
  font: 18px/1.5 "Noto Sans";
  color: #fff;
}
#footer .inner .wrap article:nth-of-type(3) {
  width: 33%;
}
#footer .inner .wrap article:nth-of-type(3) ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: right;
}
#footer .inner .wrap article:nth-of-type(3) ul li {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 25px;
  background: #fff;
}
#footer .inner .wrap article:nth-of-type(3) ul li a {
  display: block;
  font: 30px/50px "Noto Sans";
  color: #000;
  text-align: center;
}
#footer p {
  width: 100%;
  text-align: center;
  background: rgba(255, 255, 255, 0.534);
  font: 13px/1.6 "arial";
  color: rgba(0, 0, 0, 0.479);
}

@keyframes sl {
  0% {
    bottom: -400px;
    opacity: 0;
  }
  100% {
    bottom: 300px;
    opacity: 1;
  }
}
/* tablet -------------------------------------------- */
@media screen and (max-width: 1179px) {
  /* header ------------------------------------- */
  #header .inner {
    width: 100%;
    height: 100px;
    /* 햄버거 버튼 & 모바일 메뉴 */
  }
  #header .inner h1 {
    left: 20px;
  }
  #header .inner .menuWeb {
    display: none;
  }
  #header .inner .btnCall {
    display: block;
  }

  /* ok visual ------------------------------------*/
  #visual .wrap .inner {
    width: 1000px;
  }

  /* txtbox -----------------------------------------*/
  #txtbox .inner {
    width: 90%;
  }
  #txtbox .inner .wrap .txt1 p {
    width: 900px;
    font: 24px/1.5 "Noto Sans";
  }
  #txtbox .inner .wrap .txt1 i {
    font-size: 40px;
  }

  /* photoBox -----------------------------------------*/
  #photoBox {
    width: 100%;
    padding: 50px 30px 100px;
  }
  #photoBox .inner {
    width: 1180px;
    margin: 0 auto;
  }
  #photoBox .inner .wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #photoBox .inner .wrap article {
    width: 25%;
    padding-right: 10px;
    flex-basis: 20%;
  }
  #photoBox .inner .wrap article:nth-last-child(1) {
    padding-right: 0;
  }
  #photoBox .inner .wrap article .pic {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
  }
  #photoBox .inner .wrap article .pic a {
    width: 300px;
    height: 300px;
    display: block;
    font: bold 15px/300px "Montserrat";
    letter-spacing: 3px;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    background: rgba(10, 1, 0, 0.32);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #fff;
    visibility: hidden;
  }
  #photoBox .inner .wrap article .pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s;
    transform: scale(1);
  }
  #photoBox .inner .wrap article .pic:hover img {
    transform: scale(1.1);
  }
  #photoBox .inner .wrap article .pic:hover a {
    visibility: visible;
  }

  /* ok banner -----------------------------------------*/
  #banner .inner p {
    font: bold 20px/2 "Noto Sans";
    padding: 30px;
  }

  /* content -------------------------------------------*/
  #content {
    /* prevBoard -------------------------------------------*/
    /* board--------------------------------------------- */
    /* nextBoard -------------------------------------------*/
    /* footer ---------------------------------------------*/
  }
  #content .inner .wrap article:nth-of-type(1) .pic img {
    width: 90%;
    height: 90%;
  }
  #content .inner .wrap article:nth-of-type(1) .text {
    margin-top: 140px;
  }
  #content .inner .wrap article:nth-of-type(2) {
    display: flex;
    flex-direction: row-reverse;
  }
  #content .inner .wrap article:nth-of-type(2) .pic img {
    width: 90%;
    height: 90%;
  }
  #content .inner .wrap article:nth-of-type(2) .pic .text {
    width: 200px;
    height: 300px;
    background: #eee;
    padding: 30px;
    margin-top: 100px;
  }
  #content .inner .wrap article:nth-of-type(2) .pic .text h1 {
    font: bold 25px/1 "Noto Sans";
    color: #000;
    text-align: start;
    margin-bottom: 20px;
  }
  #content .inner .wrap article:nth-of-type(2) .pic .text p {
    font: 16px/1.3 "arial";
    color: #555;
    text-align: start;
    margin-bottom: 30px;
  }
  #content .inner .wrap article:nth-of-type(2) .pic .text a {
    width: 150px;
    height: 40px;
    display: block;
    letter-spacing: 2px;
    font: 12px/40px "Montserrat";
    color: #fff;
    text-align: center;
    background: #000;
  }
  #content .inner .wrap article:nth-of-type(2) .pic .text a:hover {
    background: #424242;
  }
  #content #prevBoard {
    width: 100%;
    padding: 0px 30px;
  }
  #content #prevBoard .inner {
    width: 1180px;
    margin: 0 auto;
  }
  #content #prevBoard .inner .wrap {
    width: 100%;
  }
  #content #prevBoard .inner .wrap .txt1 {
    width: 100%;
    margin-right: 40px;
  }
  #content #prevBoard .inner .wrap .txt1 h1 {
    font: bold 40px/1.5 "Noto Sans";
    color: #000;
    letter-spacing: 6px;
    margin-bottom: 20px;
    text-align: center;
  }
  #content #prevBoard .inner .wrap .txt1 p {
    font: 20px/1.5 "Noto Sans";
    color: #000;
    letter-spacing: 1px;
    margin-bottom: 20px;
    text-align: center;
  }
  #content #prevBoard .inner .wrap .txt1 p::after {
    content: "|";
    display: block;
    font-size: 40px;
  }
  #content #board {
    width: 100%;
    padding: 30px 100px 0;
  }
  #content #board .inner {
    width: 1180px;
    margin: 0px auto;
    position: relative;
    background: #fff;
  }
  #content #board .inner .wrap {
    width: 100%;
    margin-bottom: 10px;
    /* 첫번째 article------------------------- */
    /* 두번째 article------------------- */
    /* 세번째 article------------------------------------ */
    /* 네번째 article--------------------------------- */
    /* 다섯번째 article------------------------------------ */
    /* 여섯번째 article------------------- */
    /* 일곱번째 article-------------------- */
    /* 여덟번째 article--------------------------------- */
  }
  #content #board .inner .wrap::after {
    content: "";
    display: block;
    clear: both;
  }
  #content #board .inner .wrap article:nth-of-type(1) {
    width: 590px;
    height: 580px;
    float: left;
    position: relative;
  }
  #content #board .inner .wrap article:nth-of-type(1) img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s;
    transform: scale(1);
  }
  #content #board .inner .wrap article:nth-of-type(1):hover img {
    filter: brightness(80%);
  }
  #content #board .inner .wrap article:nth-of-type(2) {
    width: 295px;
    height: 290px;
    float: left;
    padding: 30px;
  }
  #content #board .inner .wrap article:nth-of-type(2) h1 {
    font: bold 20px/1 "Noto Sans";
    color: #252422;
    margin-bottom: 20px;
  }
  #content #board .inner .wrap article:nth-of-type(2) p {
    font: 13px/1.3 "arial";
    color: #555;
    margin-bottom: 20px;
  }
  #content #board .inner .wrap article:nth-of-type(2) a {
    display: block;
    width: 100px;
    height: 30px;
    letter-spacing: 2px;
    font: 10px/30px "Montserrat";
    color: #fff;
    background: #000;
    border: 1px solid #000;
    text-align: center;
  }
  #content #board .inner .wrap article:nth-of-type(2):hover {
    background: #eee;
  }
  #content #board .inner .wrap article:nth-of-type(3) {
    width: 295px;
    height: 290px;
    float: left;
    text-align: center;
    margin-right: 0;
  }
  #content #board .inner .wrap article:nth-of-type(3) img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s;
  }
  #content #board .inner .wrap article:nth-of-type(3):hover img {
    filter: brightness(80%);
  }
  #content #board .inner .wrap article:nth-of-type(4) {
    width: 295px;
    height: 290px;
    float: left;
  }
  #content #board .inner .wrap article:nth-of-type(4) img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s;
  }
  #content #board .inner .wrap article:nth-of-type(4):hover img {
    filter: brightness(80%);
  }
  #content #board .inner .wrap article:nth-of-type(5) {
    width: 295px;
    height: 290px;
    float: left;
    padding: 30px;
  }
  #content #board .inner .wrap article:nth-of-type(5) h1 {
    font: bold 20px/1 "Noto Sans";
    color: #252422;
    margin-bottom: 20px;
  }
  #content #board .inner .wrap article:nth-of-type(5) p {
    font: 13px/1.3 "arial";
    color: #555;
    margin-bottom: 20px;
  }
  #content #board .inner .wrap article:nth-of-type(5) a {
    display: block;
    width: 100px;
    height: 30px;
    letter-spacing: 2px;
    font: 10px/30px "Montserrat";
    color: #fff;
    background: #000;
    border: 1px solid #000;
    text-align: center;
  }
  #content #board .inner .wrap article:nth-of-type(5):hover {
    background: #eee;
  }
  #content #board .inner .wrap article:nth-of-type(6) {
    width: 295px;
    height: 290px;
    float: left;
  }
  #content #board .inner .wrap article:nth-of-type(6) img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s;
  }
  #content #board .inner .wrap article:nth-of-type(6):hover img {
    filter: brightness(80%);
  }
  #content #board .inner .wrap article:nth-of-type(7) {
    width: 295px;
    height: 290px;
    float: left;
    padding: 30px;
  }
  #content #board .inner .wrap article:nth-of-type(7) h1 {
    font: bold 20px/1 "Noto Sans";
    color: #252422;
    margin-bottom: 20px;
  }
  #content #board .inner .wrap article:nth-of-type(7) p {
    font: 13px/1.3 "arial";
    color: #555;
    margin-bottom: 20px;
  }
  #content #board .inner .wrap article:nth-of-type(7) a {
    display: block;
    width: 100px;
    height: 30px;
    letter-spacing: 2px;
    font: 10px/30px "Montserrat";
    color: #fff;
    background: #000;
    border: 1px solid #000;
    text-align: center;
  }
  #content #board .inner .wrap article:nth-of-type(7):hover {
    background: #eee;
  }
  #content #board .inner .wrap article:nth-of-type(8) {
    width: 590px;
    height: 290px;
    float: left;
    margin-right: 0;
  }
  #content #board .inner .wrap article:nth-of-type(8) img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s;
  }
  #content #board .inner .wrap article:nth-of-type(8):hover img {
    filter: brightness(80%);
  }
  #content #nextBoard {
    width: 100%;
    padding: 100px 30px;
  }
  #content #nextBoard .inner {
    width: 1180px;
    margin: 0 auto;
  }
  #content #nextBoard .inner .wrap {
    width: 1180px;
  }
  #content #nextBoard .inner .wrap article {
    position: relative;
    float: left;
    width: 380px;
  }
  #content #nextBoard .inner .wrap article i {
    display: block;
    font-size: 30px;
    line-height: 80px;
    text-align: center;
    background: #fff;
    color: #000;
    border-radius: 45px;
    border: 1px solid rgba(173, 173, 173, 0.5);
    width: 90px;
    height: 90px;
  }
  #content #nextBoard .inner .wrap article i:hover {
    background: #000;
    color: #fff;
  }
  #content #nextBoard .inner .wrap article h1 {
    font: bold 25px/1.3 "Noto Sans";
    color: #000;
    position: absolute;
    top: 0px;
    left: 100px;
    padding-left: 10px;
  }
  #content #nextBoard .inner .wrap article p {
    font: 15px/1.3 "Noto Sans";
    color: #222;
    position: absolute;
    bottom: 0px;
    left: 100px;
    padding-left: 10px;
  }
  #content #nextBoard .inner .wrap:nth-of-type(3) {
    margin-right: 0;
  }
  #content #footer {
    width: 100%;
    padding-top: 20px;
    background: #000;
  }
  #content #footer .inner {
    width: 1180px;
    margin: 0 auto;
  }
  #content #footer .inner .wrap h1 {
    font: bold 23px/1 "Noto Sans";
    border-bottom: 1px solid rgba(255, 255, 255, 0.322);
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: #fff;
    letter-spacing: 2px;
  }
  #content #footer .inner .wrap article {
    float: left;
  }
  #content #footer .inner .wrap article:nth-of-type(1) {
    width: 33%;
  }
  #content #footer .inner .wrap article:nth-of-type(1) h2 {
    font: 18px/1 "Noto Sans";
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
    padding-bottom: 20px;
  }
  #content #footer .inner .wrap article:nth-of-type(1) address {
    font: 16px/1.5 "Noto Sans";
    color: #fff;
  }
  #content #footer .inner .wrap article:nth-of-type(2) {
    width: 33%;
  }
  #content #footer .inner .wrap article:nth-of-type(2) ul {
    width: 100%;
    padding-left: 200px;
    margin-bottom: 20px;
  }
  #content #footer .inner .wrap article:nth-of-type(2) ul li {
    font: 18px/1.5 "Noto Sans";
    color: #fff;
  }
  #content #footer .inner .wrap article:nth-of-type(3) {
    width: 33%;
  }
  #content #footer .inner .wrap article:nth-of-type(3) ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
  }
  #content #footer .inner .wrap article:nth-of-type(3) ul li {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 25px;
    background: #fff;
  }
  #content #footer .inner .wrap article:nth-of-type(3) ul li a {
    display: block;
    font: 30px/50px "Noto Sans";
    color: #000;
    text-align: center;
  }
  #content #footer p {
    width: 100%;
    text-align: center;
    background: rgba(255, 255, 255, 0.534);
    font: 13px/1.6 "arial";
    color: rgba(0, 0, 0, 0.479);
  }

  /* prevBoard -------------------------------------------*/
  #prevBoard {
    width: 100%;
    padding: 0px 30px;
  }
  #prevBoard .inner {
    width: 1180px;
    margin: 0 auto;
  }
  #prevBoard .inner .wrap {
    width: 100%;
  }
  #prevBoard .inner .wrap .txt1 {
    width: 100%;
    margin-right: 40px;
  }
  #prevBoard .inner .wrap .txt1 h1 {
    font: bold 40px/1.5 "Noto Sans";
    color: #000;
    letter-spacing: 6px;
    margin-bottom: 20px;
    text-align: center;
  }
  #prevBoard .inner .wrap .txt1 p {
    font: 2vh/1.5 "Noto Sans";
    color: #000;
    letter-spacing: 1px;
    margin-bottom: 20px;
    text-align: center;
  }
  #prevBoard .inner .wrap .txt1 p::after {
    content: "|";
    display: block;
    font-size: 40px;
  }

  /* board--------------------------------------------- */
  #board {
    width: 100%;
    padding: 30px 100px 0;
  }
  #board .inner {
    width: 1180px;
    margin: 0px auto;
    position: relative;
    background: #fff;
  }
  #board .inner .wrap {
    width: 100%;
    margin-bottom: 10px;
    /* 첫번째 article------------------------- */
    /* 두번째 article------------------- */
    /* 세번째 article------------------------------------ */
    /* 네번째 article--------------------------------- */
    /* 다섯번째 article------------------------------------ */
    /* 여섯번째 article------------------- */
    /* 일곱번째 article-------------------- */
    /* 여덟번째 article--------------------------------- */
  }
  #board .inner .wrap::after {
    content: "";
    display: block;
    clear: both;
  }
  #board .inner .wrap article:nth-of-type(1) {
    width: 590px;
    height: 580px;
    float: left;
    position: relative;
  }
  #board .inner .wrap article:nth-of-type(1) img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s;
    transform: scale(1);
  }
  #board .inner .wrap article:nth-of-type(1):hover img {
    filter: brightness(80%);
  }
  #board .inner .wrap article:nth-of-type(2) {
    width: 295px;
    height: 290px;
    float: left;
    padding: 30px;
  }
  #board .inner .wrap article:nth-of-type(2) h1 {
    font: bold 20px/1 "Noto Sans";
    color: #252422;
    margin-bottom: 20px;
  }
  #board .inner .wrap article:nth-of-type(2) p {
    font: 13px/1.3 "arial";
    color: #555;
    margin-bottom: 20px;
  }
  #board .inner .wrap article:nth-of-type(2) a {
    display: block;
    width: 100px;
    height: 30px;
    letter-spacing: 2px;
    font: 10px/30px "Montserrat";
    color: #fff;
    background: #000;
    border: 1px solid #000;
    text-align: center;
  }
  #board .inner .wrap article:nth-of-type(2):hover {
    background: #eee;
  }
  #board .inner .wrap article:nth-of-type(3) {
    width: 295px;
    height: 290px;
    float: left;
    text-align: center;
    margin-right: 0;
  }
  #board .inner .wrap article:nth-of-type(3) img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s;
  }
  #board .inner .wrap article:nth-of-type(3):hover img {
    filter: brightness(80%);
  }
  #board .inner .wrap article:nth-of-type(4) {
    width: 295px;
    height: 290px;
    float: left;
  }
  #board .inner .wrap article:nth-of-type(4) img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s;
  }
  #board .inner .wrap article:nth-of-type(4):hover img {
    filter: brightness(80%);
  }
  #board .inner .wrap article:nth-of-type(5) {
    width: 295px;
    height: 290px;
    float: left;
    padding: 30px;
  }
  #board .inner .wrap article:nth-of-type(5) h1 {
    font: bold 20px/1 "Noto Sans";
    color: #252422;
    margin-bottom: 20px;
  }
  #board .inner .wrap article:nth-of-type(5) p {
    font: 13px/1.3 "arial";
    color: #555;
    margin-bottom: 20px;
  }
  #board .inner .wrap article:nth-of-type(5) a {
    display: block;
    width: 100px;
    height: 30px;
    letter-spacing: 2px;
    font: 10px/30px "Montserrat";
    color: #fff;
    background: #000;
    border: 1px solid #000;
    text-align: center;
  }
  #board .inner .wrap article:nth-of-type(5):hover {
    background: #eee;
  }
  #board .inner .wrap article:nth-of-type(6) {
    width: 295px;
    height: 290px;
    float: left;
  }
  #board .inner .wrap article:nth-of-type(6) img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s;
  }
  #board .inner .wrap article:nth-of-type(6):hover img {
    filter: brightness(80%);
  }
  #board .inner .wrap article:nth-of-type(7) {
    width: 295px;
    height: 290px;
    float: left;
    padding: 30px;
  }
  #board .inner .wrap article:nth-of-type(7) h1 {
    font: bold 20px/1 "Noto Sans";
    color: #252422;
    margin-bottom: 20px;
  }
  #board .inner .wrap article:nth-of-type(7) p {
    font: 13px/1.3 "arial";
    color: #555;
    margin-bottom: 20px;
  }
  #board .inner .wrap article:nth-of-type(7) a {
    display: block;
    width: 100px;
    height: 30px;
    letter-spacing: 2px;
    font: 10px/30px "Montserrat";
    color: #fff;
    background: #000;
    border: 1px solid #000;
    text-align: center;
  }
  #board .inner .wrap article:nth-of-type(7):hover {
    background: #eee;
  }
  #board .inner .wrap article:nth-of-type(8) {
    width: 590px;
    height: 290px;
    float: left;
    margin-right: 0;
  }
  #board .inner .wrap article:nth-of-type(8) img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s;
  }
  #board .inner .wrap article:nth-of-type(8):hover img {
    filter: brightness(80%);
  }

  /* nextBoard -------------------------------------------*/
  #nextBoard {
    width: 100%;
    padding: 100px 30px;
  }
  #nextBoard .inner {
    width: 1180px;
    margin: 0 auto;
  }
  #nextBoard .inner .wrap {
    width: 1180px;
  }
  #nextBoard .inner .wrap article {
    position: relative;
    float: left;
    width: 380px;
  }
  #nextBoard .inner .wrap article i {
    display: block;
    font-size: 30px;
    line-height: 80px;
    text-align: center;
    background: #fff;
    color: #000;
    border-radius: 45px;
    border: 1px solid rgba(173, 173, 173, 0.5);
    width: 90px;
    height: 90px;
  }
  #nextBoard .inner .wrap article i:hover {
    background: #000;
    color: #fff;
  }
  #nextBoard .inner .wrap article h1 {
    font: bold 25px/1.3 "Noto Sans";
    color: #000;
    position: absolute;
    top: 0px;
    left: 100px;
    padding-left: 10px;
  }
  #nextBoard .inner .wrap article p {
    font: 15px/1.3 "Noto Sans";
    color: #222;
    position: absolute;
    bottom: 0px;
    left: 100px;
    padding-left: 10px;
  }
  #nextBoard .inner .wrap:nth-of-type(3) {
    margin-right: 0;
  }

  /* footer ---------------------------------------------*/
  #footer {
    width: 100%;
    padding-top: 20px;
    background: #000;
  }
  #footer .inner {
    width: 1180px;
    margin: 0 auto;
  }
  #footer .inner .wrap h1 {
    font: bold 23px/1 "Noto Sans";
    border-bottom: 1px solid rgba(255, 255, 255, 0.322);
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: #fff;
    letter-spacing: 2px;
  }
  #footer .inner .wrap article {
    float: left;
  }
  #footer .inner .wrap article:nth-of-type(1) {
    width: 33%;
  }
  #footer .inner .wrap article:nth-of-type(1) h2 {
    font: 18px/1 "Noto Sans";
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
    padding-bottom: 20px;
  }
  #footer .inner .wrap article:nth-of-type(1) address {
    font: 16px/1.5 "Noto Sans";
    color: #fff;
  }
  #footer .inner .wrap article:nth-of-type(2) {
    width: 33%;
  }
  #footer .inner .wrap article:nth-of-type(2) ul {
    width: 100%;
    padding-left: 200px;
    margin-bottom: 20px;
  }
  #footer .inner .wrap article:nth-of-type(2) ul li {
    font: 18px/1.5 "Noto Sans";
    color: #fff;
  }
  #footer .inner .wrap article:nth-of-type(3) {
    width: 33%;
  }
  #footer .inner .wrap article:nth-of-type(3) ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
  }
  #footer .inner .wrap article:nth-of-type(3) ul li {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 25px;
    background: #fff;
  }
  #footer .inner .wrap article:nth-of-type(3) ul li a {
    display: block;
    font: 30px/50px "Noto Sans";
    color: #000;
    text-align: center;
  }
  #footer p {
    width: 100%;
    text-align: center;
    background: rgba(255, 255, 255, 0.534);
    font: 13px/1.6 "arial";
    color: rgba(0, 0, 0, 0.479);
  }
}
/* mobile ------------------------------------------- */
@media screen and (max-width: 539px) {
  /* visual -------------------------------- */
  #visual {
    height: calc(100vh - 101px);
    background: url(../img/visual1.jpg) no-repeat center/cover;
  }
  #visual .inner {
    padding: 0 30px;
  }
}

/*# sourceMappingURL=style.css.map */
